

{% extends "base.htm" %}

{% block content %}

  <div class="row">
    <div class="col-sm-4">
         <div  class="user_profile"> 
               {{request.user.display_name}}
                <br>
                {% if request.user.is_authenticated %}
                <a href="{% url 'profile_page' request.user.username %}"> @{{request.user.username}}</a>
                {% else%}
                <a></a>
                {% endif%}
                <br>
                  <br>
                    <br>
                      <br>
                tweets: {{total_tweets}}    
                <br>
                Following:{{request.user.following.count}}      
                      
               
                
    
    </div>
    
    </div>
    <div class="col-sm-8">
    <div class="user_tweet">
    <ul>
       {% for tweet in all_tweets %}
       <li>
        <a href="{% url 'profile_page' tweet.tweet_user %}"> @{{tweet.tweet_user}}</a> - <a href="{% url 'tweet_detail_page' tweet.id %}">{{tweet.created_at}}</a>
        <ul> <li> {{tweet.tweet_content}}</li></ul>
          {% firstof var1 tweet.tweet %}  
        </li>
            <br>
    {% endfor %}
      </ul>
    </div>
    </div>
   
  </div>


 
 
{% endblock %}