<style>
.topbar{

border:2px dashed black;
padding:20px;
}
.link_h{
border:2px solid silver;
padding:20px;
margin:5px 20px; 
background-color:silver;
border-radius: 25px;
}
</style>
<div  class="topbar">


{% if request.user.is_authenticated %}
<a  class="link_h" href="{% url 'home_page' %}">Home</a>
<a class="link_h"  href="{% url 'logout_page' %}">logout</a>
<a class="link_h"  href="{% url 'add_tweet_page' %}">Create tweet</a>
<a  class="link_h"  href="{% url 'notification_page' %}" >Notifications : {{noti_count}}</a>

<a  class="link_h" href="{% url 'profile_page' request.user.username %}">My profile</a>
{% else %}
<a class="link_h"  href="{% url 'login_page' %}">login</a>
<a class="link_h"  href="{% url 'signup_page' %}">signup</a>
{% endif %}





 
       
</div>