

{% extends "base.htm" %}

{% block content %}

  <div class="row">
    <div class="col-sm-4">             
                
    
    </div>
    
    </div>
    <div class="col-sm-8">
    <div class="user_tweet">
    <ul>

       <li>
      <a href="{% url 'profile_page' tweet.tweet_user %}"> @{{tweet.tweet_user}}</a> - <a href="{% url 'tweet_detail_page' tweet.id %}">{{tweet.created_at}}</a>
        <ul> <li> {{tweet.tweet_content}}</li></ul>
         
        </li>
            <br>
 
      </ul>
    </div>
    </div>
   
  </div>


 
 
{% endblock %}